<div class="container" style="padding-top: 100px">
  <div class="container" style="text-align: center">
    <h1>Welcome to your Dashboard</h1>
    <p>Browse/add/delete your contributions here!</p>
  </div>
</div>
<hr>
<div class="new-article-container">
  <%= link_to "Write Your Own Article!", new_article_path %>
</div>
