<div class="d-flex justify-content-start" >
  <%# <%= image_tag "#{article.category}.png", class: "d-flex align-items-center justify-content-center" %>
  <div class="row justify-content-start">
    <div class ="col-8 width-450">
      <h3><b><%= article.title %></b></h3>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <div class="me-3">
    <%= link_to article_path(article), class: "btn btn-secondary w-100 mb-2 text-white" do %>
      <i class="fa-solid fa-info"></i><b> Read</b>
    <% end %>
  </div>
</div>
