<div class="container" style="padding-top: 100px">
  <div class="container" style="text-align: center">
    <h1>Browse All Articles</h1>
    <p>Filter through all of our articles to find the best spots to add to your itinerary!</p>
  </div>
  <hr>

<div class="container" style="row justify-content-md-center">
    <div class="card-articles">
    <div class="card-articles-infos">
    <% @articles.each do |article| %>
        <%= render 'articles/card', article: article %>
      <% end %>
    </div>
  </div>
</div>
