
  <div class="row">
    <div class="col-6 m-auto">
      <div class="article-form">
       <div class="row justify-content-start">
        <h1>Add a new article!</h1>
        </div>
          <hr>
        <div class="mt-4">
          <%= render "form", article: @article %>
        </div>
      </div>
    </div>
  </div>
</div>
